*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  overflow: hidden;
}

.container {
  max-width: 1400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
}

nav, ul, li, a {
  list-style-type: none;
  text-decoration: none;
}

/*************HEADER**********************/
.header {
  padding: 35px 0;
  border-bottom: 1px solid #000000;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-logo {
  max-width: 143px;
}

.header-logo img {
  width: 100%;
}

.header-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav ul li {
  margin-left: 40px;
}

.header-nav ul li:first-child {
  margin-left: 0;
}

.header-nav ul li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 20px;
}

.header-nav ul li a:hover {
  background-color: #0034A2;
  color: #fff;
}

.header-tel {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-tel:hover {
  text-decoration: underline;
}

/*************HEADER**********************/
/****************MAIN*********************/
.main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.main content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  text-transform: uppercase;
  color: #000000;
}

.main-title h1 .letter-bg {
  position: relative;
  background-color: #0034A2;
  color: #ffff;
  padding: 15px;
  z-index: 1;
}

.main-title h1 .letter-bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10000%;
  background-color: #0034A2;
  z-index: -1;
}

.main-btn {
  margin-top: 50px;
  display: block;
  padding: 15px 60px;
  border: 2px solid #0034A2;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.main-btn:hover {
  background-color: #0034A2;
  border: 2px solid transparent;
  color: #fff;
}

.main-images {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.main-images img {
  width: 100%;
}

@media (max-width: 1200px) {
  .header-nav ul li {
    margin-left: 20px;
  }
  .header-nav ul li a {
    font-size: 15px;
    padding: 10px;
  }
}

.header-tel {
  font-size: 15px;
}
